<% content_for :javascript do %>
  <script type="text/javascript">
    window.mainPageTitle = 'Carrier Services';
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: window.mainPageTitle,
      });
    });
  </script>
<% end %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Callback url</th>
      <th>Service discovery</th>
      <th>Active</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @carrier_services.each do |carrier_service| %>
      <tr>
        <td><%= carrier_service.id%></td>
        <td><%= carrier_service.name %></td>
        <td><%= carrier_service.callback_url %></td>
        <td><%= carrier_service.service_discovery%></td>
        <td><%= carrier_service.active%></td>
        <td><%= carrier_service.carrier_service_type%></td>
        <td><%= link_to "Eliminar", carrier_service_path(carrier_service.id), method: :delete %></td>
      </tr>
    <%end%>
  </tbody>
</table>

<%= link_to "new carrier service", new_carrier_service_path %>
